<!doctype html>
<html class="no-js" lang="en">

<head>
    <link rel="stylesheet" href="/articlemanagement/styles/Admin.css">
    
</head>

<body>
    <div class="main">
        <div id="header">
             <span> <h1>Welcome <div id = "username" style="display: initial;"></div> </h1> </span>
        </div>
        <div id="main-wrap">
            <div id="sidebar">
                <ul>
                    <li><a href="profile.html">PROFILE</a></li>
                    <li><a href="userlist.html">USERS</a></li>
                    <li><a href="Article.html">ARTICLES</a></li>
                    <li><a href="Categories.html">CATEGORIES</a></li>
                    <li><a href="Reports.html">REPORTS</a></li>
                </ul>
            </div>
            <div id="content-wrap">
                <div id="info-wrap">
                   <textarea rows="4" cols="50">
                        
                    </textarea>
                </div>
           </div>
            <div id="footer">
                 <button onclick="location.href='signin.html'" class=" submits" type="submit" onclick="signup()">Logout</button>
            </div>
        </div>
    
    <script>
        function getCookie(cname) {
                console.log("hello");
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i=0; i<ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) === 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
        }
        var userName = getCookie("username");
        document.getElementByID('username') = username;
    </script>
</body>
