<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/articlemanagement/styles/article.css">
     <script src="/articlemanagement/scripts/article.js"></script>  
</head>
<body onload="getlistofarticles()">
    <div id="header">
        <h1>ARTICLES</h1>
    </div>
    <div id="main">
        <div id="nav">
            <li><a href="Categories.html">CATEGORIES</a></li>
        </div>
        
        <div id="section">
            <select id="mySelect" onchange="getlistofarticles()">
                <option value="ALL">ALL</option>
                <option value="AngularJs">AngularJs</option>
                <option value="BUSINESS">BUSINESS</option>
                <option value="SOCIALMEDIA">SOCIALMEDIA</option>
                <option value="WORKWORLD">WORKWORLD</option>
            </select>
        <div id="articleList"></div>
    </div>
   
</body>
</html>