<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/articlemanagement/styles/article.css">
     <script src="/articlemanagement/scripts/article.js"></script>
     <script src="/articlemanagement/scripts/category.js"></script>    
</head>
<body onload= "getlistofcategory('true');">
    <div id="header">
        <h1>ARTICLES</h1>
    </div>
    <div id="main">
        <div id="nav">
            <li><a href="category.html">CATEGORIES</a></li>
        </div>
        
        <div id="section">
            <div id="categories"> </div>
            
            <div>
            <button id="addcategory" onclick="location.href='addcategory.html'">ADD CATEGORY</button>
            </div>
        
            <div id="articleList"></div>
    </div>
</body>
</html>