<!doctype html>
<html class="no-js" lang="en">

<head>
    <link rel="stylesheet" href="/articlemanagement/styles/Admin.css">
    
</head>

<body>
    <div class="main">
        <div id="header">
             <span> <h1>Welcome <div id = "username" style="display: initial;"></div> </h1> </span>
        </div>
        <div id="main-wrap">
            <div id="sidebar">
                <ul>
                    <li><a href="profile.html">PROFILE</a></li>
                    <li><a href="userarticle.html">ARTICLES</a></li>
                    <li><a href="Reports.html">REPORTS</a></li>
                </ul>
            </div>          
         </div>

            <div id="footer">
                 <button onclick="location.href='signin.html'">Logout</button>
            </div>
        </div>
    