<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>List Of Users</title>
    <script src="/articlemanagement/scripts/userlist.js"></script>  
</head>
<body>
    <div id="selectedstatus" class="wrapper" onchange="getlistofusers()">
        <span>
        <select id="mySelect">
            <option value="ALL">ALL</option>
            <option value="APPROVED">APPROVED</option>
            <option value="DISAPPROVED">DISAPPROVED</option>
            <option value="WFA">WFA</option>
        </select>
        </span>
    </div>
    <div id="userTable"></div>
</body>
</html>