<!doctype html>
<html class="no-js" lang="en">
<head>
    <link rel="stylesheet" href="/articlemanagement/styles/view.css">
</head>
<body>
    <a href="#show user profile">show user profile</a>
    <div id="show user profile" class="modalDialog">
    <div>   
        <a href="Admin.html" title="Close" class="close">X</a>
        <h2>Profile</h2>
    <div>
        <table>
            <tbody style="text-align:center">
            <tr>
                <td>UserName:</td><td><span id="username" /></td>
            </tr>
            <tr>
                <td>EmailId:</td><td> <span id="emailId" /></td>
            </tr>
            <tr>
                <td>Date Of birth:</td><td><span id="dateOfBirth"/></td>
            </tr>
            <tr>
                <td>PhoneNo:</td><td><span id="phoneNo" /></td>
            </tr>
            <tr>
                <td>Gender:</td><td><span id="gender" /></td>
            </tr>
            </tbody>
        </table>
          <button class="submits" type="button" id="editbutton" onclick="edit()">APPROVE</button>
          <button class=" submits" type="button" id="savebutton" onclick="save()">DISAPPROVE</button> 
    </div>
    </div>
    </div>
</body>